html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.dark.wrapper {
    background-color: #2b2b2b;
}
.light.wrapper {
    background-color: #ffffff;
}

#felix {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.camera {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.options {
    display: flex;
    justify-content: center;
    width: 100%;
}

.option {
    margin: 5px 0;
    padding: 0 20px;
    margin-bottom: 10px;
}

.refresh-rate input {
    width: 100px;
}

.dark .refresh-rate {
    color: #ffffff;
}

.dark .refresh-rate input {
    background-color: #404040;
    border-color: #404040;
    color: #ffffff;
}

.light .refresh-rate {
    color: #000000;
}

.light .refresh-rate input {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
}
