html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

.dark.wrapper {
    background-color: #2b2b2b;
}
.light.wrapper {
    background-color: #ffffff;
}

#felix {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: auto;
    overflow: auto;
}

.options {
    padding-left: 10px;
    padding-top: 10px;
}

.option {
    margin-bottom: 10px;
}

.dark .refresh-rate {
    color: #ffffff;
}

.light .refresh-rate {
    color: #000000;
}
